// Generic
.mx_FormButton {
    &.mx_AccessibleButton_kind_primary {
        color: $secondary-fg-color
    }
}


// Room Directory
.mx_RoomDirectory_table {
    row-gap: 10px;
    margin: 10px auto 10px auto;
}

.mx_RoomDirectory_name {
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 6px;
}


// Access Rules Big Event
.tc_accessRulesEvent {
    &.tc_accessRulesEvent_icon::before {
        background-color: #ffffff;
        mask-image: url('$(res)/img/tchap/feather-customised/user.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 90%;
    }

    &.tc_accessRulesEvent_icon::after {
        mask-image: url('$(res)/img/tchap/feather-customised/user.svg');
        background-color: $composer-e2e-icon-color;
    }
}


// Room Intro
.mx_NewRoomIntro > p {
    color: $light-fg-color;
}


// Password Helper "?"
.tc_PasswordHelper {
    position: relative;
    top: 7px;
    left: 5px;
}


// MCS Warning Icon Position
.tc_MCS_error {
    margin-bottom: -2px;
    margin-right: 8px;
}


// Encryption Informations (post-login & pre-logout dialogs)
.tc_ThreeColumn_block {
    margin-top: 30px;
    margin-bottom: -40px;
}

.tc_ThreeColumn_block_image {
    width: 100px;
    height: 100px;
    display: inline-flex;
}

.tc_ThreeColumn_block_image img {
    margin: 0 auto;
}

.tc_ThreeColumn_block_content {
    padding: 0 30px 0 30px;
    margin-bottom: 10px;
}

.tc_ThreeColumn_block_content p {
    margin-bottom: 20px;
}

.tc_ThreeColumn_block_bordered {
    width: calc(33% - 1px);
    border-right: 1px solid $input-darker-fg-color;
    height: 100%;
    position: relative;
    text-align: center;
    display: inline-flex;
}

.tc_ThreeColumn_block_last {
    width: calc(33% - 1px);
    position: relative;
    text-align: center;
    display: inline-flex;
}

.tc_ThreeColumn_block_separator {
    position: absolute;
    right: 0;
    top: 38%;
    margin-right: -10px;
    background: white;
    color: $input-darker-fg-color;
}


// Room Settings > Access Settings
.tc_ShareDialog {
    border-color: #e7e7e7 !important;
}

.mx_ShareDialog_matrixto {
    margin-top: 10px;
}

.tc_ExternSharing_warning {
    font-size: 14px;
    color: #747474;
    margin-bottom: 6px;
    img {
        position: relative;
    }
    span {
        margin-left: 8px;
    }
}


// Room Settings > Link Sharing "?"
.tc_LinkSharing_Helper {
    position: relative;
    top: 5px;
    left: 5px;
}


// Room Creation UI
.tc_CreateRoomDialog_RoomOption > div {
    background-color: $secondary-accent-color;
    border-radius: 4px;
    margin: 8px 0 8px 0;
    padding: 4px;
    font-weight: bold;
    font-size: 14px;
}

.tc_CreateRoomDialog_RoomOption_private {
    border: 0 solid $room-type-restricted;
    color: $room-type-restricted;
    &::before {
        width: 12px;
        height: 16px;
        content: "";
        display: inline-block;
        vertical-align: sub;
        background-image: url("$(res)/img/tchap/create-room-dialog/padlock-private.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: 4px;
    }
}

.tc_CreateRoomDialog_RoomOption_external {
    border: 0 solid $room-type-unrestricted;
    color: $room-type-unrestricted;
    &::before {
        width: 12px;
        height: 16px;
        content: "";
        display: inline-block;
        vertical-align: sub;
        background-image: url("$(res)/img/tchap/create-room-dialog/padlock-external.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: 4px;
    }
}

.tc_CreateRoomDialog_RoomOption_public {
    border: 0 solid $room-type-forum;
    color: $room-type-forum;
    &::before {
        width: 12px;
        height: 14px;
        content: "";
        display: inline-block;
        vertical-align: sub;
        background-image: url("$(res)/img/tchap/create-room-dialog/padlock-public.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: 4px;
    }
}

.tc_CreateRoomDialog_RoomOption_descr {
    color: grey;
    font-weight: normal;
    font-size: 12px;
    padding: 0 4px;
}

.tc_CreateRoomDialog_RoomOption_suboption {
    display: none;
    color: grey;
    font-weight: normal;
    font-size: 12px;
    padding: 10px 4px 0 4px;
}

.tc_CreateRoomDialog_RoomOption_selected {
    border-width: 2px;
    .tc_CreateRoomDialog_RoomOption_suboption {
        display: block;
    }
}


// Left Panel
.mx_RoomSublist {
    margin-left: 0;
}

.mx_RoomSublist_resizeBox {
    &:hover, &.mx_RoomSublist_hasMenuOpen {
        .mx_RoomSublist_resizerHandle {
            opacity: 0.8;
            background-color: $tertiary-fg-color !important;
        }
    }
}

.mx_RoomSublist .mx_RoomSublist_resizeBox .mx_RoomSublist_resizerHandle {
    &:hover,
    &:focus {
        background-color: $secondary-fg-color;
    }
}


// Left Panel > Header > UserHeader
.mx_LeftPanel .mx_LeftPanel_roomListContainer .mx_LeftPanel_userHeader {
    padding-top: 16px;
    height: 50px;
}

.mx_UserMenu_userName {
    margin-top: 11px;
}

.mx_UserMenu_headerButtons {
    margin-top: 12px;
}


// Left Panel > Header > Search
.mx_RoomSearch.mx_RoomSearch_focused > input,
.mx_RoomSearch.mx_RoomSearch_hasQuery > input {
    color: $secondary-fg-color !important;
}

.mx_RoomSearch.mx_RoomSearch_focused, .mx_RoomSearch.mx_RoomSearch_hasQuery {
    background-color: $accent-bg-color;
    -webkit-box-shadow: 0 0 2px 2px $accent-secondary;
    box-shadow: 0 0 2px 2px $accent-secondary;
    border-color: $tertiary-fg-color;
}


// Left Panel > Room List
.mx_LeftPanel_roomListContainer {
    background-color: $accent-color !important;
    color: #f3f8fd;
}

.mx_RoomTile {
    height: 45px;

    .mx_DecoratedRoomAvatar {
        margin-left: 12px;
        margin-top: 3px;
    }
    &.mx_RoomTile_selected {
        background-color: $accent-secondary;
        border-radius: unset;
    }
    &:hover,
    &:focus-within,
    &.mx_RoomTile_hasMenuOpen {
        background-color: $accent-bg-color;
        border-radius: unset;
    }
    .mx_RoomTile_menuButton::before {
        mask-image: url('$(res)/img/tchap/roomlist/context-menu.svg');
    }
    .mx_RoomTile_menuButton,
    .mx_RoomTile_notificationsButton {
        &::before {
            background: $tertiary-fg-color;
        }
    }
}

.mx_RoomTile_iconBell::before {
    mask-image: url('$(res)/img/tchap/roomlist/notifications.svg');
}
.mx_RoomTile_iconBellDot::before {
    mask-image: url('$(res)/img/tchap/roomlist/notifications-default.svg');
}
.mx_RoomTile_iconBellCrossed::before {
    mask-image: url('$(res)/img/tchap/roomlist/notifications-off.svg');
}
.mx_RoomTile_iconBellMentions::before {
    mask-image: url('$(res)/img/tchap/roomlist/notifications-dm.svg');
}


.mx_NotificationBadge {
    &.mx_NotificationBadge_visible {
        background-color: $roomtile-default-badge-bg-color;
        &.mx_NotificationBadge_highlighted {
            .mx_NotificationBadge_count {
                color: $roomtile-default-badge-bg-color;
            }
        }
        .mx_NotificationBadge_count {
            color: #162d58;
            font-weight: bold;
        }
        &.mx_NotificationBadge_dot {
            background-color: $primary-fg-color; // increased visibility
            width: 22px;
            border-radius: 8px;
        }

        &.mx_NotificationBadge_2char {
            width: 22px;
            border-radius: 8px;
        }

        &.mx_NotificationBadge_3char {
            width: 22px;
            border-radius: 8px;
        }
    }
}

// Left Panel > Room List > Room Type Word
.tc_RoomTile_roomType {
    position: relative;
    right: 0;
    padding: 15px 10px 0 8px;
    font-size: 12px;
}
.tc_Room_roomType_direct {
    color: $room-type-direct;
}
.tc_Room_roomType_restricted {
    color: $room-type-restricted;
}
.tc_Room_roomType_unrestricted {
    color: $room-type-unrestricted;
}
.tc_Room_roomType_forum {
    color: $room-type-forum;
}
.tc_Room_roomType_infos {
    color: $room-type-infos;
}


// Left Panel > Room List > Room Type Avatar
.mx_DecoratedRoomAvatar .mx_BaseAvatar .mx_BaseAvatar_initial {
    z-index: 1;
}

.tc_RoomTile_avatar_hexa {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    z-index: 1;
}

.tc_RoomTile_avatar_hexa img {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    border-radius: 0;
}

.tc_RoomTile_avatar_unrestricted {
    background-image: url('$(res)/img/cccccc.png');
    background-position: center;
    padding: 2px;
    height: 34px;
}


// Left Panel > Room List > Room Type Icon
.mx_DecoratedRoomAvatar, .mx_TemporaryTile {
    &.mx_DecoratedRoomAvatar_cutout .mx_BaseAvatar {
        mask: none;
    }
}

.mx_DecoratedRoomAvatar_icon {
    position: absolute;
    margin-top: 5px;
    left: 47px;
    border-radius: 0;
    z-index: 2;
}

.mx_DecoratedRoomAvatar_icon::before {
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
}

.mx_DecoratedRoomAvatar_icon_forum::before {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('$(res)/img/tchap/room-type/symbol-forum-bg.svg');
}
.mx_DecoratedRoomAvatar_icon_unrestricted::before {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('$(res)/img/tchap/room-type/symbol-private-external-bg.svg');
}
.mx_DecoratedRoomAvatar_icon_encrypted::before {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('$(res)/img/tchap/room-type/symbol-private-bg.svg');
}


// Left Panel > Room List > Header
.mx_RoomSublist_headerText {
    text-transform: uppercase;
    font-size: $font-14px !important;
}

// Left Panel > Room List > Message Preview
.mx_RoomTile .mx_RoomTile_nameContainer .mx_RoomTile_messagePreview {
    color: $tertiary-fg-color;
    font-size: $font-12px;
    line-height: $font-12px;
}


// Room Header
.mx_RoomHeader {
    border-bottom: 1px solid #C1C6CD;
}

.mx_RoomHeader_wrapper {
    height: 70px;
}


.mx_RoomHeader_avatar .tc_RoomTile_avatar_unrestricted {
    background-image: url('$(res)/img/cccccc.png');
    background-position: center;
    padding: 2px;
    height: 44px;
}

.mx_DecoratedRoomHeaderAvatar_icon {
    position: relative;
    top: -18px;
    left: -13px;
    border-radius: 0;
    z-index: 2;
}

.mx_DecoratedRoomHeaderAvatar_icon::before {
    content: '';
    width: 12px;
    height: 16px;
    position: absolute;
}

.mx_RoomHeader_name,
.mx_RoomHeader_avatar,
.mx_RoomHeader_avatarPicker,
.mx_RoomHeader_avatarPicker_edit,
.mx_RoomHeader_avatarPicker_remove {
    cursor: default;
}

.tc_RoomHeader_infos {
    display: grid;
    width: 100%;
    margin-left: 10px;
    grid-gap: 4px;
    margin-top: 2px;
}

.mx_RoomHeader_name {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: -2px;
}

.mx_RoomHeader_topic {
    grid-column: 2;
    grid-row: 1 / 3;
}

.tc_RoomHeader_roomSubline {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    margin-left: 8px;

    &>div[class^='tc_Room_roomType_'] {
        font-size: 13px;
    }
    .tc_Room_roomType_text {
        font-weight: 500;
        margin-left: 4px;
    }
    .tc_RoomHeader_middot {
        font-size: 18px;
        font-weight: bold;
        position: relative;
        top: -3px;
        color: #828282;
        margin: auto 6px;
    }
    .tc_RoomHeader_memberCount {
        font-size: 13px;
        .tc_RoomHeader_memberCount_value {
            position: relative;
            top: -3px;
            margin-left: 4px;
            color: #828282;
            font-weight: 500;
        }
    }
    .tc_RoomHeader_retention {
        position: relative;
        top: 1px;
        .tc_RoomHeader_retention_value {
            font-size: 12px;
            position: relative;
            top: -3px;
            margin-left: 3px;
            color: #828282;
            font-weight: 500;
        }
    }
}

.tc_RoomHeader_button {
    display: inline-flex;
}


// Left Panel > Bottom Logo & Links
.tc_LeftPanel_Bottom_logo {
    position: relative;
    display: inline-block;
    margin: 12px 16px 6px 20px;
    & img {
        height: 44px;
    }
}

.tc_LeftPanel_Bottom_logo_collapsed {
    position: relative;
    display: inline-block;
    margin: 12px 16px 6px 20px;
    & img {
        height: 20px;
    }
}

.tc_LeftPanel_Bottom_links {
    display: inline-block;
    position: absolute;
    padding-top: 26px;
    a {
        text-decoration: none;
        color: $secondary-fg-color;
    }
}


// Right Panel
.mx_RightPanel {
    background-color: white !important;
    border-radius: 2px;
}


// Right Panel > Room Summary Card
.tc_RoomSummaryCard_avatar_hexa_unrestricted {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background-image: url('$(res)/img/cccccc.png');
    background-position: center;
    padding: 2px;
    img {
        border-radius: 0;
        -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
        clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    }
}
.tc_RoomSummaryCard_avatar_hexa {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    .mx_BaseAvatar_image {
        border-radius: 0;
    }
}

.tc_RoomSummaryCard_topic {
    font-size: 13px;
    overflow-x: hidden;
    max-height: 400px;
}


// Right Panel > User Details Card
.mx_UserInfo_roleDescription .mx_IconButton {
    background-color: rgba(22, 45, 88, 0.2);
}

.mx_UserInfo_profileField .mx_IconButton.mx_IconButton_icon_check {
    background-color: rgba(22, 45, 88, 0.2);
}


// Message Composer (& bottom bar)
.tc_RoomStatusBar_reinvite {
    display: inline;
    padding: 4px 8px;
    margin: auto 4px;
}

.mx_BasicMessageComposer_input {
    &:focus {
        border-color: $accent-secondary !important;
    }
}


// Timeline
.mx_RoomView_body .mx_RoomView_timeline {
    //background-color: #E8EDF2;
}

.mx_MainSplit {
    margin-left: 1px;
}

.mx_EventTile:hover.mx_EventTile_verified .mx_EventTile_line,
.mx_EventTile:hover.mx_EventTile_unknown .mx_EventTile_line {
    border: none;
}


// Timeline > New Room Intro > Mini Avatar Uploader
.mx_MiniAvatarUploader {
    &::before {
        background-color: $primary-bg-color;
        border-radius: 50%;
        z-index: 1;
    }

    &::after {
        background-color: $primary-fg-color;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-image: url('$(res)/img/element-icons/camera.svg');
        mask-size: 16px;
        z-index: 2;
    }
}


// Timeline > Text Event > Message > "..." Context Menu
.mx_MessageContextMenu_field {
    padding: 4px 6px 4px 23px;
}

.mx_MessageContextMenu_field::after {
    content: '';
    position: absolute;
    left: 6px;
    height: 16px;
    width: 16px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    mask-size: 16px;
    -webkit-mask-size: 16px;
    background-color: #2e2f32;
}

.mx_MessageContextMenu_field_remove::after {
    mask-image: url('$(res)/img/tchap/room/message-bar/trash.svg');
}

.mx_MessageContextMenu_field_forward::after {
    mask-image: url('$(res)/img/tchap/room/message-bar/reply.svg');
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.mx_MessageContextMenu_field_share::after {
    mask-image: url('$(res)/img/tchap/room/message-bar/share.svg');
}

.mx_MessageContextMenu_field_quote::after {
    mask-image: url('$(res)/img/tchap/room/message-bar/quote.svg');
}

.mx_MessageContextMenu_field_report::after {
    mask-image: url('$(res)/img/tchap/room/message-bar/warning.svg');
}


// Invite Dialog
.mx_InviteDialog {
    height: unset;
}
.mx_InviteDialog_addressBar .mx_InviteDialog_editor {
    textarea,
    textarea:focus {
        width: 100%;
    }
}
.tc_InviteDialog_advanced {
    margin-top: 6px;
}


// Invite Dialog > Invite From File
.tc_InviteDialog_InviteFromFile_type {
    display: block;
    margin-top: 2px;
    font-size: 11px;
    margin-left: 2px;
}


// Share key dialog & toast
.mx_EncryptionInfo_spinner .mx_Spinner {
    margin-bottom: 24px;
}

.mx_VerificationShowSas {
    .mx_Dialog_buttons {
        button.mx_VerificationShowSas_matchButton {
            color: $secondary-fg-color;
            background-color: $accent-bg-color;
            border: none;
        }
    }
}


// Registration
.tc_RegistrationForm_extern_warning {
    margin-bottom: 20px;
}



// Border Radius changes
.mx_AccessibleButton_hasKind,
.mx_TabbedView_tabLabel,
.mx_Dialog button,
.mx_Dialog,
.mx_RoomSearch,
.mx_LeftPanel_exploreButton,
.mx_BaseCard .mx_BaseCard_Group .mx_BaseCard_Button,
.mx_ContextualMenu,
.mx_Field,
.mx_Field input,
.mx_Field select,
.mx_Field textarea,
.mx_AppearanceUserSettingsTab_fontSlider_preview,
.mx_Tooltip,
.mx_AuthPage_modal,
.mx_AuthPage_modalContent,
.mx_Login_submit
{
    border-radius: 3px !important;
}


// Login view
// Login view > Header
.tc_LoginView_Header_text {
    font-weight: bolder;
    text-align: center;
    color: #2e2f32;
    font-size: larger;
}




/* + PLUS CONTEXT MENU */

/*.tc_PlusContextMenu {
    height: 104px;
    color: $focus-bg-color;
    background-color: $accent-bg-color;
    box-shadow: 2px 15px 30px 0 rgba(0, 0, 0, 0.48);
    border-radius: 4px;
    overflow-y: auto;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
    z-index: 101;
}

.tc_PlusContextMenu_sub_item {
    padding: 7px 17px 7px 15px;
    cursor: pointer;
    &:hover {
        background-color: $accent-secondary;
    }
}

.tc_PlusContextMenu_sub_img {
    width: 12px;
    margin-right: 10px;
    margin-bottom: -2px;
}

.tc_PlusContextMenu_sub_separator {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-top-width: 1px;
}

.mx_IconButton {
    &.mx_IconButton_icon_edit::before {
        mask-image: url('$(res)/img/tchap/feather-customised/edit.svg');
        background-color: $primary-bg-color;
    }
    &.mx_IconButton_icon_check::before {
        mask-image: url('$(res)/img/tchap/feather-customised/check.svg');
        background-color: $primary-bg-color;
    }
}*/



/* BUBBLE TCHAT */

/*
// Bigger headers
.mx_RoomHeader_wrapper {
    height: 70px;
}
.mx_LeftPanel_userHeader {
    height: 45px;
    border-bottom: 1px solid #ffffff2e;
    margin-bottom: 10px;
}

// Change discussion background
ol.mx_RoomView_MessageList {
    background-color: #E8EDF2;
}
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    background-color: #E8EDF2 !important;
}

// Draw white bubbles
ol.mx_RoomView_MessageList li .mx_EventTile {
    background-color: white;
    margin: 10px;
    padding: 7px;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    margin-left: 50px;
    border-radius: 0px 5px 5px 5px;
}

// Add poity edge to bubble
ol.mx_RoomView_MessageList li .mx_EventTile:before {
    content: " ";
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 13px solid white;
    border-left : 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 0px
}

//Move avatar outside the bubble
.mx_EventTile img.mx_BaseAvatar_image {
    padding-top: 0px;
    margin-left: -50px;
    margin-top: -12px;
}
.mx_EventTile .mx_BaseAvatar_initial {
    left: -50px;
    top: -12px
}

// Don't apply bubble style to events (simple centered text)
div.mx_EventTile.mx_EventTile_info.mx_EventTile_continuation .mx_BaseAvatar_initial, div.mx_EventTile.mx_EventTile_info.mx_EventTile_continuation img.mx_BaseAvatar_image, li.mx_EventListSummary img.mx_BaseAvatar_image {
    display: none;
}
div.mx_EventTile.mx_EventTile_info.mx_EventTile_continuation:before {
    display: none;;
}
div.mx_EventListSummary div.mx_EventTile.mx_EventTile_info.mx_EventTile_continuation, li.mx_EventListSummary  {
    background-color: transparent;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

// Style bubble text content
span.mx_SenderProfile_name {
    color: #124A9D;
    font-weight: bold;
    display: block;
    padding-top: 3px;
}
div.mx_SenderProfile, div.mx_EventTile_line {
    padding-left: 5px;
    line-height: 1.4;
}

.mx_EventListSummary .mx_EventTile_line, .mx_RoomView_timeline_rr_enabled .mx_EventTile_line {
    margin-right: 0px;
}
.mx_EventTile_content {
    margin-right: 6px;
}

span.mx_MessageTimestamp {
    display: block;
    width: 99.6%;
    text-align: right;
    position: absolute;
    top: -26px;
}

div.mx_EventTile_line {
    padding-top: 0;
}

.mx_EventTile_msgOption {
    float: right;
    text-align: right;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 2px;
    margin-right: 10px;
    display: block;
}
.mx_EventTile_readAvatars {
    position: relative;
    display: block;
    right: -2px;
    top: 12px;
    float: right;
    clear: both;
}
.mx_EventTile_readAvatars img.mx_AccessibleButton.mx_BaseAvatar.mx_BaseAvatar_image {
    margin-top: -10px;
    margin-left: 0;
    padding-left: 0;
}


// Other fixes on left and right pannels
.mx_UserMenu .mx_UserMenu_row {
    height: 45px;
}
.mx_EventTile_bubbleContainer.mx_EventTile {
    display: none;
}
.tc_RoomTile_avatar_hexa, .tc_RoomTile_avatar_hexa img {
    -webkit-clip-path: polygon(50% 0,93% 25%,93% 75%,50% 100%,7% 75%,7% 25%);
    clip-path: polygon(50% 0,93% 25%,93% 75%,50% 100%,7% 75%,7% 25%);
    width: 35px;
    height: 34px;
    margin-left: -1px;
}
span.mx_BaseAvatar_initial.tc_RoomTile_avatar_hexa {
    height: 34px;
    line-height: 34px;
}
.dark-panel {
    background-color: #f2f6fa;
}
.mx_MainSplit>.mx_RightPanel_ResizeWrapper {
    padding: 0px;
    margin-left: 0px;
}
*/
